header {
	position: relative;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

body {
	position: relative;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

img {
    width: 60%;
    max-width: 600px;
    height: auto;
}

input[type=text] {
    width: 30%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

form {
	display: inline;
}

.field {
	margin-bottom: 30px;
}

.btn {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	border: none;
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-primary {
	color: white;
	background-color: #1B1464;
	border-color: #1B1464;
}
	
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
	color: white;
	background-color: #15104f;
	border-color: #130e46;
}
	
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
	background-image: none;
}
	
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
	background-color: #1B1464;
	border-color: #1B1464;
}
	
.btn-primary .badge {
	color: #1B1464;
	background-color: white;
}

.btn-xl {
  padding: 15px 30px;
  display: inline;
}

section {
	margin-top: 40px;
}


